<div class="row">
  <div class="col-md-9">
  <p id="notice"><%= notice %></p>

  <h2>
    <%= @project.name %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>

  <%= form_for([@project, @project.toads.build])  do |f| %>
  <div class="toad-form"><%= f.text_area :description, placeholder: "Add task/todo/idea..", size: "60x2" %></div>
  <%= f.submit "Add", class: "btn add-toad-btn" %>
  <% end %>
  </div>
  
  <% if @project.toads.count != 0 %>
  <div id="toad-list" class="col-md-12">
  <h4 class="ideas-title">Ideas To Add</h4>
  <% @toads.each do |toad| %>
    <div class="toad-partial">
      <p><%= toad.description %> | <%= link_to "Mark as Completed", "#" %> | 
        <%= link_to "Delete", project_toad_path(@project, toad), method: :delete %></p>
    </div>
  <% end %>
  <h4 class="ideas-title">Finished Adds</h4>
  </div>
  <% end %>
</div>